* {
  background-color: rgb(213,215,230);
}

.mini_card {
  display: flex;
  flex-direction: row;
  width: 459px;
  height: 109px;
  justify-content:flex-start;
  align-items: center;
  padding: 19px 34px;
  margin-bottom: 34px;
  border-radius: 20px;
  box-shadow: 8px 11px 28px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 8px 11px 28px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 11px 28px -9px rgba(0,0,0,0.75);
}

.mini_card .img_mini_card img {
  height: 89px;
  width: 89px;
  justify-self: flex-start;
}

.mini_card .info_mini_card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mini_card .info_mini_card ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mini_card .info_mini_card li {
  list-style: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 2px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(249, 255, 212);
}

.nav_list h3 {
  margin: 5px;
  background-color: rgb(249, 255, 212);
}

.grass {
  background-color: rgb(153, 221, 198);
}

.poison {
  background-color: rgb(159, 126, 190);
}

.bug {
  background-color: rgb(209, 209, 34);
}

.fire {
  background-color: rgb(237, 90, 90);
}

.ice {
  background-color: rgb(137, 237, 237);
}

.water {
  background-color: rgb(131, 131, 243);
}

.flying {
  background-color: rgb(118, 171, 217);
}

.electric {
  background-color: rgb(249, 253, 124);
}

.normal {
  background-color: rgb(255, 255, 255);
}

.psychic {
  background-color: rgb(244, 90, 159);
}

.ghost {
  background-color: rgb(116, 100, 130);
}

.rock {
  background-color: rgb(128, 128, 128);
}

.ground {
  background-color: rgb(177, 135, 98);
}

.fairy {
  background-color: rgb(253, 115, 237);
}

.fighting {
  background-color: rgb(253, 138, 71);
}

.dragon {
  background-color: rgb(69, 162, 131);
}

.dark {
  background-color: rgb(152, 118, 118);
}

.steel {
  background-color: rgb(90, 146, 170);
}
