<div class="big_card">
  <div class="title_big_card">
    <h1>CHARIZARD</h1>
  </div>
  <div class="types_big_card">
    <ul>
      <li>
        FIRE
      </li>
      <li>
        DRAGON
      </li>
    </ul>
  </div>
  <div class="img_big_card">
    <img src="../../../../assets/CHARIZARD.png">
  </div>
  <div class="info_big_card">
    <div>
      <ul>
        <li>
          ID: #004
        </li>
        <li>
          TAM: 2,94M
        </li>
        <li>
          PES: 444KG
        </li>
        <li>
          FOR: 240
        </li>
      </ul>
    </div>
    <div class="info_big_card_powers">
      <p>TOP POWERS</p>
      <ul>
        <li>
          DRAGON FLAMES
        </li>
        <li>
          WASH FLOOR
        </li>
        <li>
          FIRE'S NIGHTMARE
        </li>
      </ul>
    </div>
  </div>
</div>
