<div class="big_card" *ngFor="let poke of pokemon">
  <div class="title_big_card" >
    <h1>{{poke.name.toUpperCase()}}</h1>
  </div>
  <div class="types_big_card" >
    <ul>
      <li *ngFor="let type of poke.types" [class]="type.type.name">
        {{type.type.name}}
      </li>
    </ul>
  </div>
  <div class="img_big_card">
    <img [src]="poke.sprites.other.dream_world.front_default">
  </div>
  <div class="info_big_card">
    <div>
      <ul>
        <li>
          ID: #{{poke.id}}
        </li>
        <li>
          TAM: {{poke.height*8}}CM
        </li>
        <li>
          PES: {{poke.weight}}KG
        </li>
        <li>
          FOR: {{poke.base_experience}}
        </li>
      </ul>
    </div>
    <div class="info_big_card_powers">
      <p>TOP POWERS</p>
      <ul>
        <li *ngFor="let move of habilities">
          {{move}}
        </li>
      </ul>
    </div>
  </div>
</div>
